/fast_api_tcc/htmlcov/
.coverage
.env
database.db
/.idea
.idea
*.iml
fast_api_tcc/fast_api_tcc/my_logs/log_test.tsv
fast_api_tcc/fast_api_tcc/my_logs/log_test.tsv
fast_api_tcc/SqlAlchemy/log_test.tsv
